/* Hide ads and other unnecessary content */
[class*="RightSidebar__Container"],
[class*="SectionLeaderboard__Container"],
[class*="PrimisContainer"],
[class*="InnerSectionDivider"],
[class*="LyricsSidebarAd"],
div[id^="div-gpt-ad"],
#sellwild-widget, [class*="sellwild"],
[class*="ob-smartfeed-wrapper"], [class*="feedIdx-"],
div[data-exclude-from-selection="true"],
div:has(> div > div > div[id^="div-gpt-ad-desktop_song_combined_leaderboard"]),
div[class*="BottomSticky"] {
    display: none !important;
}

/* Extend header */
[class*="SongHeader-desktop__RightContainer"] {
    grid-column: header-right-start / right-end !important;
    width: 100% !important;
}

/* Extend content */
[class*="Lyrics__Container"],
div[data-lyrics-container="true"],
[class*="About__Container"],
[class*="SongCommentsWithAds__Container"] {
    grid-column: grid-start / grid-end !important; 
    max-width: none !important;
    padding-right: 2rem !important; 
}